<h2>Detalle del Héroe</h2>

<div class="hero-container">
  <img
    [src]="character()?.thumbnail?.path + '.' + character()?.thumbnail?.extension"
    [alt]="character()?.name"
    class="hero-img"
  />

  <div class="hero-info">
    <h3>{{ character()?.name }}</h3>
    <p class="hero-id">ID: {{ character()?.id }}</p>

    @if (character()?.description) {
      <p>{{ character()?.description }}</p>
    }

    <h4>Comics</h4>
    <ul>
      @for (comic of character()?.comics?.items ?? []; track comic.resourceURI) {
        <li>{{ comic.name }}</li>
      }
    </ul>

    <h4>Series</h4>
    <ul>
      @for (series of character()?.series?.items ?? []; track series.resourceURI) {
        <li>{{ series.name }}</li>
      }
    </ul>
  </div>
</div>
