<h2>Dashboard</h2>

<!-- 🔍 Componente de búsqueda -->
<app-hero-search (search)="onSearchHero($event)"></app-hero-search>

<!-- Si no hay resultados, mostrar mensaje -->
@if (characters().length === 0) {
  <p>No se encontraron personajes.</p>
}

<!-- Lista de personajes -->
@if (characters().length > 0) {
  <div class="heroes-menu">
    @for (character of characters(); track character.id) {
      <a [routerLink]="'/hero/' + character.id" class="hero-card">
        <div>
          <h3>{{ character.name }}</h3>
          <img
            [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
            [alt]="character.name"
          />
        </div>
      </a>
    }
  </div>
} @else {
  <p style="text-align: center;">Cargando personajes...</p>
}
